services:
  coordinator:
    build:
      context: .
      dockerfile: core/coordinator/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./file_storage:/app/file_storage
    environment:
      - COORDINATOR_BASE_URL=http://coordinator:8000
    networks:
      - crowd-net
    
  worker:
    build:
      context: .
      dockerfile: core/worker/Dockerfile
    depends_on:
      - coordinator
    environment:
      - COORDINATOR_URL=http://coordinator:8000
    # --- NEW: Mount the Docker Socket ---
    volumes:
      - ./worker_data:/app/core/worker/worker_data
      - /var/run/docker.sock:/var/run/docker.sock
    # ------------------------------------
    networks:
      - crowd-net

networks:
  crowd-net:
    driver: bridge